*~
*.a
*.o
*.dll
*.so
*.cmi
*.cmx
*.cmxs
*.cmxa
*.cmo
*.cma
*.cmt
*.opt
*.run
*.cmti
*.annot
*.exe
*.dll
*.lib
*.obj
*.log
*.cache
*.status
*.omc
*.out
*.tar.gz
*.tar.xz
*.idoc
/setup.ml
/.omakedb*
/_oasis
examples/cohttp_curl_lwt
examples/cohttp_server
tests/test_net_lwt
tests/test_net_lwt_google
tests/test_net_lwt_google_custom_ctx
tests/test_net_lwt_lastminute
tests/test_net_lwt_multi_get
tests/test_net_lwt_server
tests/_tests
